<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sentiment Analysis</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>    
    
<body class="bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 flex flex-col min-h-screen">

    <!-- Main Content -->
    <div class="flex-grow flex justify-center items-center p-4">
        <div class="bg-white shadow-lg rounded-lg p-8 max-w-lg w-full mx-auto">
            <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Sentiment Analysis</h1>
            
            <form id="sentimentForm" class="flex flex-col">
                <textarea id="userInput" class="p-4 border border-gray-300 rounded-md mb-4" rows="4" placeholder="Enter text"></textarea>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Analyze Sentiment
                </button>
            </form>

            <!-- Error Message Display -->
            <div id="error-message" class="mt-4 text-red-500 hidden"></div>

            <div id="result" class="mt-6 text-center text-gray-700 flex flex-col gap-6 sm:flex-row justify-center">
                <!-- Positive Sentiment Box -->
                <div class="bg-white shadow-lg rounded-lg p-6 max-w-sm w-full text-left transform transition-transform p-4">
                    <p class="text-xl font-bold">Positive: <span id="positive-percent"></span>%</p>
                    <p class="mt-2 text-gray-600" id="positive-text"></p>
                </div>

                <!-- Neutral Sentiment Box -->
                <div class="bg-white shadow-lg rounded-lg p-6 max-w-sm w-full text-left transform transition-transform p-4">
                    <p class="text-xl font-bold">Neutral: <span id="neutral-percent"></span>%</p>
                    <p class="mt-2 text-gray-600" id="neutral-text"></p>
                </div>

                <!-- Negative Sentiment Box -->
                <div class="bg-white shadow-lg rounded-lg p-6 max-w-sm w-full text-left transform transition-transform p-4">
                    <p class="text-xl font-bold">Negative: <span id="negative-percent"></span>%</p>
                    <p class="mt-2 text-gray-600" id="negative-text"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-transparent text-center py-4">
        <a href="https://github.com/Bagora/sentimentscope" target="_blank" class="text-black">
            View this project on GitHub
        </a>
    </footer>
<script src="../static/main.js"></script>
</body>
</html>